.searchBox{
  margin-top: 30px;
  font-weight: normal;
}
.totalCount{
  color: #af1717;
  font-size: 18px;
  margin-bottom: 20px;
  text-align: right;
  font-weight: normal;
}
.totalCount span{
  font-weight: bold;
  font-size: 20px;
}
.container {
  max-width: var(--site-width);
  width: var(--content-width);
  margin: 0 auto;
}
.profiles{
  margin-top: 50px;
}
.seperatorText{
  text-align: center;
  color: #337ab7;
  font-size: 24px;
  font-weight: normal;
  margin-top: 140px;
}
