.container {
  max-width: var(--site-width);
  width: var(--content-width);
  margin: 40px auto;
}
.userInfo{
  margin: 20px 0px;
  padding: 5px;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
}
.seperatorText{
  font-weight: normal;
  font-size: 20px;
  color: #42c34e;
  margin: 6px auto;
  display: inline-block;
  padding: 8px 12px;
  background: #fff;
  border-radius: 50%;
}
